
<div th:fragment="header">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Azeez</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/plans">Plans</a>
        <a class="p-2 text-dark" href="/orders">Orders</a>
        <a class="p-2 text-dark" href="/order/add">Add orders</a>

        <a class="p-2 text-dark" href="/messageBlog">Messages</a>
    </nav>

    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-outline-primary" value="Sign Out"/>
        </form>
    </div>
</div>
</div>